body {
    margin-top: 25px;
}

h2 {
    margin: 20px 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 25px;
}

h3.heading {
    margin-top: 25px;
}

.section-heading {
    margin-bottom: 25px;
}

.well p {
    margin-bottom: 0;
}

.table {
    margin-bottom: 0;
}

.filter_bar {
    margin: 25px 0;
}

textarea.form-control {
    height: 36px;
}

.calendar_bugfix input {
    margin-top: 0 !important;
}

.navbar {
    margin-bottom: 0;
}

.messages-container {
    margin-top: 25px;
}

a.code-link-project {
    color: inherit;
    border-bottom: 1px solid #c8c8c8;
    padding: 0 1px;
    text-decoration: none;
}

.task-info-table {
    margin-bottom: 25px;
    border-bottom: 1px solid #DDDDDD;
}

.starred {
    color: #FFCC00;
    font-size: 20px;
}

.markdown_editor {
    width: 100%;
    height: 160px;
}

.dropdown-toggle .caret {
    border-top-color: #1a1a1a;
}

.btn-link-danger {
    color: #D8262C;
}

.no-horizontal-padding {
    padding-left: 0;
    padding-right: 0;
}

.columns-without-padding div:first-child {
    padding-left: 0;
}

.columns-without-padding div:last-child {
    padding-right: 0;
}

.page-top-container {
    margin-top: 33px;
}
.paper-content #content {
    min-height: 500px;
}
.paper-container {
    background-color: #ffffcc;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.3);
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.paper-container .paper {
    display: block;
    border: 0;
    background-color: #ffffcc;
    border-left: 1px solid #fce3b0;
    color: #000;
    margin-left: 33px;
    font-size: 14px;
    line-height: 20px;
}

.paper-container .paper .inner-paper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    word-wrap: break-word;
    font-size: 14px;
    min-height: 480px;
}

.paper-container .paper .inner-paper {
    background-image: url('/images/notepad_background.gif');
    background-repeat: repeat-y;
    background-position: -1px top;
}

.paper-container .paper .inner-paper h4 {
    padding: 24px 0 10px 0;
    font-weight: bold;
    font-size: 20px;
    color: #000;
}

.paper-container .paper .inner-paper p {
    margin: 0 auto 20px auto;
}

.page-sidebar {

}

.page-sidebar p {
    font-size: 14px;
}

.page-sidebar ul li {

}

.page-sidebar .jumbotron {
    text-align: center;
    padding: 15px;
}

.project-grid-element {
    padding: 0 10px 20px 10px;
}

.project-grid-element .content {
    height: 60px;
    padding: 0 5px;
    background: #F5F5F5;
}

.project-grid-element .content .content-icon {
    padding-top: 15px;
    font-size: 24px;
}

.project-grid-element .content .content-text .name {
    font-size: 15px;
    font-weight: 500;
}

.project-grid-element .content .content-text .name .code {
    display: inline;
    font-size: 10px;
    color: #888888;
}

.project-grid-element .content .content-text .name .code span {
    font-style: italic;
}

.project-grid-element .content .content-text {
    padding-top: 9px;
}

.project-grid-element .content .content-text .info .thing {
    display: inline-block;
    margin-right: 5px;
    color: #888888;
    font-size: 13px;
}

.project-grid-element .content .content-text .info .thing span {
    font-weight: bold;
    color: #333;
}

.markdown_content {

}

textarea {
    width: 500px;
}