body {
    margin-top: 25px;
}

h2 {
    margin: 20px 0;
}

h3 {
    margin-bottom: 25px;
}

.section-heading {
    margin-bottom: 25px;
}

.well p {
    margin-bottom: 0;
}

.well .comment_info {
    margin-bottom: 5px;
}

.table {
    margin-bottom: 0;
}

.filter_bar {
    margin: 25px 0;
}

textarea.form-control {
    height: 36px;
}

.calendar_bugfix input {
    margin-top: 0 !important;
}

.navbar {
    margin-bottom: 0;
}

.messages-container {
    margin-top: 25px;
}

a.code-link-project {
    color: inherit;
    border-bottom: 1px solid #c8c8c8;
    padding: 0 1px;
    text-decoration: none;
}

.task-info-table {
    margin-bottom: 25px;
    border-bottom: 1px solid #DDDDDD;
}